@using System.Security.Claims
@model VisualWelcomeCenter.Models.UserDetails

@{
    ViewData["Title"] = "Update Profile Image";
    var identity = User.Identity as ClaimsIdentity;
    string emailAddress = identity.Claims.FirstOrDefault(x => x.Type == "emails")?.Value;
    string jobtitle = identity.Claims.FirstOrDefault(x => x.Type == "jobtitle")?.Value;
}

<h1>Update your Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Name" value="@User.Identity.Name" />
            <input type="hidden" name="EmailAddress" value="@emailAddress" />
            <input type="hidden" name="JobTitle" value="@jobtitle" />

            <div class="form-group">
                <label asp-for="Photo" class="control-label">Upload your image</label>
                <input asp-for="Photo" class="form-control" accept=".png,.jpg">
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
